---
import Layout from "../../layouts/Layout.astro";
import { Content as ProposalContent } from "../../components/markdown/sample-content.md";
export const pageTitle = "Project 1 Proposal";
---

<Layout title={pageTitle}>
  <ProposalContent></ProposalContent>
  
  <a href="https://balsamiq.cloud/sxaw1cm/pb530d5/r2278" target="_blank" rel="noopener noreferrer">Link to Balsamiq Wireframe</a>
</Layout>

<style>

</style>
