---
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/Accordion.astro";
import {Content as SampleContent} from "../components/markdown/sample-content.md";
---
<Layout title="Home">
    <h1>kristen</h1>
    <h1>sauer.</h1>
</Layout>

<style>
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    margin: 0;
    padding: 0;
  }
</style>

