---
import Layout from "../layouts/Layout.astro";
import Accordion from "../components/Accordion.astro";

import {Content as SampleContent} from "../components/markdown/sample-content.md";
---
<Layout title="Home">
  <h1>Welcome!</h1>
  <Button href="assignments/assignment-01">Go to Assignment 01</Button>
  <Accordion></Accordion>
  <p>This is your Design for the Web 2 starter site.</p>
  <p>
    Feel free to start editing this page in <code>src/pages/index.astro</code>
  </p>
</Layout>
