---
import Layout from "../../layouts/Layout.astro";
export const pageTitle = "Project 1";
---

<Layout title={Project1}>
<header>
    <h1>Bartender's Glossary</h1>
</header>

<body>
    <h2>Cocktails</h2>

    <h3>Margarita</h3>

    <ul>3 oz Tequila</ul>
    <ul>1.5 oz Triple Sec</ul>
    <ul>1.5 oz Sour Mix</ul>

    <ol>Grab a pint glass and pour the ingredients in</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a margarita glass, rim as needed</ol>
    <ol>Pour cocktail into the glass and garnish with a lime wheel</ol>

    <h3>Mojito</h3>

    <ul>3 oz Rum</ul>
    <ul>1.5 oz Lime Juice</ul>
    <ul>1.5 oz Agave</ul>
    <ul>Mint leaves</ul>
    <ul>Club Soda</ul>

    <ol>Grab a pint glass and muddle 4-5 mint leaves</ol>
    <ol>Pour ingredients in pint glass</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a Collins glass and pour cocktail</ol>
    <ol>Top off with club soda and a lime wedge</ol>

    <h3>Hugo Spritz</h3>

    <ul>2 oz Sauvigon Blanc</ul>
    <ul>1.5 oz St. Germain</ul>
    <ul>Club Soda</ul>
    <ul>Mint Leaves</ul>
    <ul>Lemon Wedges</ul>

    <ol>Grab a pint glass and muddle 4-5 mint leaves and 2-3 slices of lemon</ol>
    <ol>Pour ingredients in pint glass</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a wine glass and pour cocktail</ol>
    <ol>Top off with club soda and a lime wedge</ol>

    <h3>Coconut Martini</h3>

    <ul>1.5 oz Coconut Rum</ul>
    <ul>1.5 oz Vanilla Vodka</ul>
    <ul>0.5 oz Coconut Puree</ul>
    <ul>0.25 oz Pineapple Juice</ul>
    <ul>Coconut Flakes</ul>

    <ol>Grab a pint glass and pour ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a chilled martini glass and strain cocktail</ol>
    <ol>Garnish with coconut flakes</ol>

    <h3>Paloma</h3>

    <ul>3 oz Agave Tequila</ul>
    <ul>1.5 oz Lime Juice</ul>
    <ul>1.5 oz Agave</ul>
    <ul>0.5 oz Grapefruit Juice</ul>
    <ul>Club Soda</ul>

    <ol>Grab a pint glass and pour ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a Collins glass and pour cocktail</ol>
    <ol>Top off with club soda and a lime wedge</ol>

    <h3>Mudslide</h3>

    <ul>1.5 oz Kahlua</ul>
    <ul>1.5 oz Irish Cream</ul>
    <ul>1.5 oz Vanilla Vodka</ul>
    <ul>0.5 oz Heavy Cream</ul>
    <ul>Chocolate Syrup</ul>

    <ol>Grab a blender and add all ingredients</ol>
    <ol>Add ice and blend</ol>
    <ol>Grab a Collins glass and decorate with chocolate syrup</ol>
    <ol>Pour blended cocktail into glass</ol>

    <h3>Sangria</h3>

    <ul>1.5 oz Red or White Wine</ul>
    <ul>1.5 oz Sour Mix</ul>
    <ul>1.5 oz Brandy</ul>
    <ul>1 Tbsp Sugar</ul>
    <ul>Chopped Apple and Oranges</ul>
    <ul>Club Soda</ul>

    <ol>Grab a pint glass and grab 2 tong-fulls of chopped apples and oranges</ol>
    <ol>Pour brandy, sour mix, and sugar into the pint glass</ol>
    <ol>Add ice, top off with wine and shake</ol>
    <ol>Grab a wine glass and pour cocktail</ol>
    <ol>Top off with club soda</ol>

    <h3>Bloody Mary</h3>

    <ul>3 oz Bloody Mary Mix</ul>
    <ul>1.5 oz Vodka</ul>
    <ul>1.5 oz Lemon Juice</ul>
    <ul>Celery</ul>
    <ul>Olives</ul>
    <ul>Lemon Wedge</ul>
    <ul>Lime Wedge</ul>
    

    <ol>Grab a pint glass and add ice</ol>
    <ol>Pour ingredients in pint glass</ol>
    <ol>Garnish with celery, olives, lemon, and lime</ol>

    <h3>Old Fashioned</h3>

    <ul>1.5 oz Bourbon Whiskey</ul>
    <ul>1 Sugar Cube</ul>
    <ul>1 Cherry</ul>
    <ul>Orange Peel</ul>
    <ul>Bitters</ul>

    <ol>Grab a rocks glass and muddle orange peel, cherry, and sugar cube</ol>
    <ol>Pour bourbon in glass</ol>
    <ol>Add 2-3 dashes of bitters</ol>
    <ol>Add ice and stir</ol>

    <h2>Shots</h2>

    <h3>Green Tea</h3>

    <ul>1.0 oz Whiskey</ul>
    <ul>1.0 oz Peach Schnapps</ul>
    <ul>1.0 oz Ginger Ale</ul>
    <ul>1.0 oz Sour Mix</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Lemon Drop</h3>

    <ul>1.5 oz Citrus Vodka</ul>
    <ul>0.75 oz Triple Sec</ul>
    <ul>0.75 oz Lemon Juice</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Jolly Rancher</h3>

    <ul>1.5 oz Raspberry Vodka</ul>
    <ul>0.75 oz Peach Schnapps</ul>
    <ul>0.75 oz Cranberry Juice</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Kamikaze</h3>

    <ul>1.5 oz Vodka</ul>
    <ul>0.75 oz Triple Sec</ul>
    <ul>0.75 oz Lime Juice</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Blowjob</h3>

    <ul>1.0 oz Amaretto</ul>
    <ul>1.0 oz Irish Cream</ul>
    <ul>Whipped Cream</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>
    <ol>Garnish with whipped cream</ol>

    <h3>White Tea</h3>

    <ul>1.0 oz Vodka</ul>
    <ul>1.0 oz Triple Sec</ul>
    <ul>1.0 oz Sprite</ul>
    <ul>1.0 oz Sour Mix</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Screaming Nazi</h3>

    <ul>1.0 oz Jagermeister</ul>
    <ul>1.0 oz Rumpleminze</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Gatorade</h3>

    <ul>1.5 oz Blueberry Vodka</ul>
    <ul>0.75 oz Sour Mix</ul>
    <ul>0.75 oz Lemonade</ul>
    <ul>0.5 oz Blue Curacao</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h3>Buttery Nipple</h3>

    <ul>1.0 oz Butterscotch Schnapps</ul>
    <ul>0.5 oz Irish Cream</ul>

    <ol>Grab a shot glass and pour Butterscotch Schnapps</ol>
    <ol>Gently pour Irish Cream on top</ol>

    <h3>Pornstar</h3>

    <ul>1.0 oz Raspberry Liqueur</ul>
    <ul>1.0 oz Blue Curacao</ul>

    <ol>Grab a pint glass and add ingredients</ol>
    <ol>Add ice and shake</ol>
    <ol>Grab a shot glass and strain shot</ol>

    <h2>Tools</h2>

    <h3>Shaker</h3>
    <p>A tin or glass used to mix cocktails with ice.</p>

    <h3>Mixing Glass</h3>
    <p>A sturdy glass for stirred drinks like martinis or negronis.</p>

    <h3>Strainer</h3>
    <p>Filters ice, fruit, and herbs when pouring a drink.</p>

    <h3>Jigger</h3>
    <p>A double-sided measuring tool for accurate pours.</p>

    <h3>Muddler</h3>
    <p></p>
    <p>A pestle-like tool for crushing fruits, herbs, or sugar.</p>

    <h3>Bar Spoon</h3>
    <p>Long-handled spoon for stirring and layering drinks.</p>

    <h3>Juicer/Press</h3>
    <p>Extracts fresh juice from lemons, limes, or oranges.</p>

    <h3>Zester/Peeler</h3>
    <p>Creates citrus twists and peels for garnishes.</p>

    <h3>Ice Scoop</h3>
    <p>For handling ice cleanly and safely.</p>

    <h3>Tongs</h3>
    <p>For safely grabbing fruit for cocktails.</p>

    <h3>Bar Key</h3>
    <p>For opening beer bottles.</p>

    <h3>Corkscrew</h3>
    <p>For opening wine bottles</p>

</body>



    <pre><code>&lt;Layout compact title="Page Title"&gt;</code></pre>
    <p>
        In Astro, we usually write styling in a <code>&lt;style&gt;</code> tag within
        each component file. This lets us keep the styles for each component together
        with the component itself. Styles that are written in one component will
        not affect other components or pages, even if you use the same class names.
    </p>
</Layout>

<style>
    h1 {
        color: blue;
    }
</style>
